h2{
	text-align: center;
}
.main{
	max-width: 1000px;
	margin: auto;
}
.row{
	margin:8px -16px;
}

.row,
.row>.a3{
	padding:2px;
}

.a3{
	float: left;
	width: 320px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}
.a4{
	padding:3px;
}
h4, p{
text-align: center;

}
.iconlogo img{
  padding-left: 100px;

